html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background: rgb(15, 15, 15);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.start {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.start h1 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: #BBED2F;
}
.start .start__bar {
  margin: 20px auto;
  width: 300px;
  height: 15px;
  border-radius: 50px;
  background: rgb(15, 15, 15);
  box-shadow: inset 6px 6px 12px rgb(5, 5, 5), inset -6px -6px 12px rgb(45, 45, 45);
}
.start .start__bar .bar-progress {
  display: block;
  width: 20%;
  height: 100%;
  background: #BBED2F;
  border-radius: 50px;
  -webkit-box-shadow: 10px 0px 10px 0px rgba(187, 237, 47, 0.6);
  -moz-box-shadow: 10px 0px 10px 0px rgba(187, 237, 47, 0.6);
  box-shadow: 10px 0px 10px 0px rgba(187, 237, 47, 0.6);
}

.nav {
  position: fixed;
  right: 0;
  z-index: 90;
}
.nav .nav__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin-right: 15px;
  margin-left: 5px;
  border: 1px solid #BBED2F;
  background: rgb(25, 25, 25);
  border-radius: 30px;
  height: 30%;
  padding: 15px 10px;
}
@media (max-width: 767.98px) {
  .nav ul {
    padding: 10px 5px;
    margin-right: 5px;
    height: 25%;
  }
}
.nav ul li {
  position: relative;
}
.nav li a {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 25px;
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
@media (max-width: 767.98px) {
  .nav li a {
    font-size: 18px;
  }
}
.nav ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: #BBED2F;
  width: 0;
  overflow: hidden;
  transition: 1s;
  -webkit-text-stroke: 1px #BBED2F;
}
.nav ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px #BBED2F);
}

.aboutme {
  display: flex;
  gap: 20px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  margin-right: 200px;
  padding: 2%;
}
@media (max-width: 991.98px) {
  .aboutme {
    flex-direction: column;
    margin-right: 70px;
  }
}
@media (max-width: 767.98px) {
  .aboutme {
    margin-right: 50px;
  }
}
.aboutme .aboutme__img {
  min-width: 500px;
  min-height: 600px;
}
@media (max-width: 991.98px) {
  .aboutme .aboutme__img {
    min-width: 0px;
    min-height: 0px;
    margin-bottom: 20px;
  }
}
.aboutme .aboutme__img img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 40px;
  rotate: -5deg;
  margin-top: 25px;
}
@media (max-width: 991.98px) {
  .aboutme .aboutme__img img {
    rotate: 0deg;
    margin-top: 10px;
  }
}
.aboutme .aboutme__content {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 991.98px) {
  .aboutme .aboutme__content {
    text-align: center;
  }
}
.aboutme .aboutme__content p {
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 10px;
}
.aboutme .aboutme__content p strong {
  color: #BBED2F;
}
@media (max-width: 767.98px) {
  .aboutme .aboutme__content p {
    font-size: 12px;
    text-align: left;
  }
}
.aboutme .aboutme__content .signos {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: #BBED2F;
}
@media (max-width: 767.98px) {
  .aboutme .aboutme__content .signos {
    font-size: 17px;
  }
}
.aboutme .aboutme__content .start__writer h2 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: #BBED2F;
}
@media (max-width: 767.98px) {
  .aboutme .aboutme__content .start__writer h2 {
    font-size: 40px;
  }
}
.aboutme .aboutme__content .start__writer .tw__content, .aboutme .aboutme__content .start__writer .tw__cursor {
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: #BBED2F;
}
@media (max-width: 767.98px) {
  .aboutme .aboutme__content .start__writer .tw__content, .aboutme .aboutme__content .start__writer .tw__cursor {
    font-size: 25px;
  }
}
.aboutme .aboutme__content .aboutme__enlaces {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 991.98px) {
  .aboutme .aboutme__content .aboutme__enlaces {
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .aboutme .aboutme__content .aboutme__enlaces {
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
  }
}
.aboutme .aboutme__content .aboutme__enlaces .descarga {
  border-bottom: 1px solid;
  padding-bottom: 3px;
  font-size: 14px;
  color: #BBED2F;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
@media (max-width: 991.98px) {
  .aboutme .aboutme__content .aboutme__enlaces .descarga {
    font-size: 12px;
  }
}
@media (max-width: 767.98px) {
  .aboutme .aboutme__content .aboutme__enlaces .descarga {
    font-size: 10px;
  }
}
.aboutme .aboutme__content .aboutme__enlaces .icons {
  color: #ffffff;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 2%;
  margin-right: 200px;
  margin-top: 35px;
  color: #ffffff;
}
@media (max-width: 991.98px) {
  .info {
    margin-right: 70px;
  }
}
@media (max-width: 767.98px) {
  .info {
    margin-right: 50px;
    gap: 20px;
  }
}
.info .skills {
  text-align: center;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
@media (max-width: 767.98px) {
  .info .skills {
    font-size: 7px;
  }
}
.info h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 30px;
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 1px solid #BBED2F;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 991.98px) {
  .info h2 {
    font-size: 25px;
  }
}
@media (max-width: 767.98px) {
  .info h2 {
    font-size: 20px;
    width: 60%;
  }
}
.info .front {
  border-radius: 5px;
  gap: 10px;
  padding: 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info .back {
  gap: 10px;
  border-radius: 5px;
  padding: 2%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info .extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-radius: 5px;
  width: 80%;
}
.info .front:hover, .info .back:hover, .info .extra:hover {
  transition: all 0.7s ease;
  transform: scale(1.03);
  filter: drop-shadow(0 0 12px #ffffff);
}

.portfolio {
  padding: 2%;
  margin-right: 200px;
  margin-top: 35px;
  color: #ffffff;
}
@media (max-width: 991.98px) {
  .portfolio {
    margin-right: 70px;
  }
}
@media (max-width: 767.98px) {
  .portfolio {
    margin-right: 50px;
  }
}
.portfolio h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 30px;
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 1px solid #BBED2F;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
.portfolio .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-radius: 10px;
  justify-items: center;
}
@media (min-width: 1900px) {
  .portfolio .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1439.98px) {
  .portfolio .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 991.98px) {
  .portfolio .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.portfolio .cards .card {
  width: 395px;
  height: 215px;
  position: relative;
  border: 1px solid transparent;
}
@media (max-width: 767.98px) {
  .portfolio .cards .card {
    width: 330px;
    height: 181px;
  }
}
.portfolio .cards .card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.portfolio .cards .card .card__content {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid #BBED2F;
  transition: opacity all 0.5 ease;
}
.portfolio .cards .card .card__content .content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.portfolio .cards .card .card__content .content-text h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 25px;
}
@media (max-width: 767.98px) {
  .portfolio .cards .card .card__content .content-text h3 {
    font-size: 20px;
  }
}
.portfolio .cards .card .card__content .content-text p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 18px;
}
@media (max-width: 767.98px) {
  .portfolio .cards .card .card__content .content-text p {
    font-size: 13px;
  }
}
.portfolio .cards .card .card__content .content-text span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
@media (max-width: 767.98px) {
  .portfolio .cards .card .card__content .content-text span {
    font-size: 10px;
  }
}
.portfolio .cards .card .card__content .content-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.portfolio .cards .card .card__content .content-links a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #BBED2F;
  transition: all 0.5s ease;
}
@media (max-width: 767.98px) {
  .portfolio .cards .card .card__content .content-links a {
    font-size: 10px;
  }
}
.portfolio .cards .card .card__content .content-links a:hover {
  border: 1px solid #BBED2F;
  background-color: rgb(25, 25, 25);
  color: #ffffff;
}
.portfolio .cards .card .card__content:hover {
  opacity: 1;
}

.contact {
  padding: 2%;
  margin-right: 200px;
  margin-top: 30px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  padding-bottom: 8%;
}
@media (max-width: 991.98px) {
  .contact {
    margin-right: 70px;
  }
}
@media (max-width: 767.98px) {
  .contact {
    margin-right: 50px;
  }
}
.contact h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 30px;
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 1px solid #BBED2F;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
@media (max-width: 991.98px) {
  .contact h2 {
    font-size: 25px;
  }
}
@media (max-width: 767.98px) {
  .contact h2 {
    font-size: 20px;
    width: 60%;
    margin-bottom: 20px;
  }
}
.contact .contact__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
@media (max-width: 991.98px) {
  .contact .contact__content {
    flex-direction: column;
  }
}
.contact .contact__content .contact__icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
@media (max-width: 991.98px) {
  .contact .contact__content .contact__icons {
    gap: 5px;
  }
}
.contact .contact__content .contact__icons a {
  text-decoration: none;
  color: #BBED2F;
}
.contact .contact__content .contact__icons a:hover {
  transition: all 0.5s ease;
  color: #ffffff;
}
.contact .contact__content .contact__icons span {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 20px;
}
@media (max-width: 767.98px) {
  .contact .contact__content .contact__icons span {
    font-size: 15px;
  }
}
.contact .contact__content .contact__icons span:last-child {
  font-weight: 100;
  font-size: 13px;
}
@media (max-width: 991.98px) {
  .contact .contact__content .contact__icons span:last-child {
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .contact .contact__content .contact__icons span:last-child {
    font-size: 9px;
  }
}
.contact .contact__content .form {
  width: 50%;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 991.98px) {
  .contact .contact__content .form {
    width: 100%;
    padding: 5%;
  }
}
.contact .contact__content .form textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  min-height: 150px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background: rgb(25, 25, 25);
  color: #ffffff;
}
@media (min-width: 1900px) {
  .contact .contact__content .form textarea {
    width: 75%;
  }
}
@media (max-width: 767.98px) {
  .contact .contact__content .form textarea {
    min-height: 100px;
  }
}
.contact .contact__content .form input {
  width: 100%;
  height: 35px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: rgb(25, 25, 25);
  color: #ffffff;
}
@media (min-width: 1900px) {
  .contact .contact__content .form input {
    width: 75%;
  }
}
.contact .contact__content .form label {
  width: 100%;
  margin-top: 5px;
}
@media (min-width: 1900px) {
  .contact .contact__content .form label {
    width: 75%;
  }
}
.contact .contact__content .form button {
  width: 30%;
  margin-left: auto;
  margin-left: auto;
  margin-top: 5px;
  background-color: #BBED2F;
  color: rgb(15, 15, 15);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}
@media (min-width: 1900px) {
  .contact .contact__content .form button {
    width: 25%;
    margin-right: 25%;
  }
}
.contact .contact__content .form textarea, .contact .contact__content .form input {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}
.contact .contact__content .form textarea:focus, .contact .contact__content .form input:focus {
  outline: none;
}
.contact .status-messages {
  display: flex;
  margin-left: auto;
  width: 34%;
  margin-right: 22%;
}
@media (min-width: 1900px) {
  .contact .status-messages {
    width: 25%;
    margin-right: 35%;
  }
}
@media (max-width: 991.98px) {
  .contact .status-messages {
    margin: auto;
    width: 90%;
  }
}

/*# sourceMappingURL=styles.css.map */
