@use '../base/variables' as v;
@use '../base/mixins' as m;

.portfolio {
    padding: 2%;
    margin-right: 200px;
    margin-top: 35px;
    color: v.$white;

    @include m.tablet {
        margin-right: 70px;
    }

    @include m.phone {
        margin-right: 50px;
    }

    h2 {
        font-family: v.$raleway;
        font-weight: 100;
        font-size: 30px;
        width: 50%;
        padding-bottom: 10px;
        border-bottom: 1px solid v.$principal;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        border-radius: 10px;
        justify-items: center;

        @include m.desktopL {
            grid-template-columns: repeat(4, 1fr);
        }
        @include m.desktopS {
            grid-template-columns: repeat(2, 1fr);
        }
        @include m.tablet {
            grid-template-columns: repeat(1, 1fr);
        }

        .card {
            width: 395px;
            height: 215px;
            position: relative;
            border: 1px solid transparent;
            

            @include m.phone {
                width: 330px;
                height: 181px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 10px;
            }

            .card__content {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background: rgb(0 0 0 / 90%);
                border: 1px solid v.$principal;
                transition: opacity all 0.5 ease;

                .content-text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;

                    h3 {
                        font-family: v.$raleway;
                        font-weight: 600;
                        font-size: 25px;

                        @include m.phone {
                            font-size: 20px;
                        }
                    }
        
                    p {
                        font-family: v.$raleway;
                        font-weight: 300;
                        font-size: 18px;
                        text-align: center;
                        margin: 0 30px;

                        @include m.phone {
                            font-size: 13px;
                        }
                    }
        
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;

                        font-family: v.$raleway;
                        font-weight: 300;
                        font-size: 15px;

                        @include m.phone {
                            font-size: 10px;
                        }
                    }
                }
                
                .content-links {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;

                    a {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        text-decoration: none;
                        color: v.$black;
                        font-family: v.$raleway;
                        font-weight: 500;
                        font-size: 15px;
                        padding: 15px;
                        border-radius: 10px;
                        border: 1px solid transparent;
                        background-color: v.$principal;
                        transition: all 0.5s ease;

                        @include m.phone {
                            font-size: 10px;
                        }
                    }

                    a:hover {
                        border: 1px solid v.$principal;
                        background-color: v.$secundario;
                        color: v.$white;
                    }
                }
            }

            .card__content:hover {
                opacity: 1;
            }
        }
    }
}   


