@use '../base/variables' as v;
@use '../base/mixins' as m;

.start {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    h1 {
        font-size: 50px;
        font-family: v.$raleway;
        font-weight: 100;
        color: v.$principal;
    }

    .start__bar {
        margin: 20px auto;
        width: 450px;
        height: 15px;
        border-radius: 50px;
        background: v.$fondo;
        box-shadow: inset 6px 6px 12px rgb(5 5 5),
                    inset -6px -6px 12px rgb(45 45 45);

        .bar-progress {
            display: block;
            width: 20%;
            height: 100%;
            background: v.$principal;
            border-radius: 50px;

            -webkit-box-shadow: 10px 0px 10px 0px rgba(187, 237, 47,0.6);
            -moz-box-shadow: 10px 0px 10px 0px rgba(187, 237, 47,0.6);
            box-shadow: 10px 0px 10px 0px rgba(187, 237, 47,0.6);
        }
    }

}