@use '../base/variables' as v;
@use '../base/mixins' as m;

.info {
    padding: 2%;
    margin-right: 200px;
    margin-top: 35px;
    color: v.$white;

    @include m.tablet {
        margin-right: 70px;
    }

    @include m.phone {
        margin-right: 50px;
    }

    h2 {
        font-family: v.$raleway;
        font-weight: 100;
        font-size: 30px;
        width: 50%;
        padding-bottom: 10px;
        border-bottom: 1px solid v.$principal;
        text-align: center;
        margin-right: auto;
        margin-left: auto;

        @include m.tablet {
            font-size: 25px;
        }
    
        @include m.phone {
            font-size: 20px;
            width: 60%;
        }
    }

    p {
        font-family: v.$raleway;
        font-weight: 300;
    }

    .stacks__box {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 40px;

        h3 {
            font-family: v.$raleway;
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 15px;
            text-align: center;
        }

        @include m.tablet {
            flex-direction: column;
        }
    
        @include m.phone {
            flex-direction: column;
        }
    }

    .skill {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .control__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        text-align: center;
        font-size: 12px;
        border-radius: 12px;
        padding: 1% 3%;

        p {
            font-size: 20px;
        }
    }

    .front__box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid rgb(187 237 47 / 100%);
        border-radius: 12px;
        min-width: 25%;
        padding: 1% 3%;

        @include m.tablet {
            padding: 3% 20%;
        }

        p {
            font-size: 15px;
        }
    }

    .back__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid rgb(187 237 47 / 100%);
        border-radius: 12px;
        min-width: 25%;
        padding: 1% 3%;

        p {
            font-size: 15px;
        }

        @include m.tablet {
            padding: 3% 20%;
        }
    }
    
    .extras__box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        margin-top: 20px;
        width: 90%;
        
        @include m.tablet {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
        }

        div {
            text-align: center;
        }

        .img__box {
            min-width: 60px;
            min-height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include m.tablet {
                min-height: 60px;
            }
        }

        p {
            font-size: 15px;
            margin-top: 5px;
        }
    }
}