@use '../base/variables' as v;
@use '../base/mixins' as m;

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    .welcome__title {
        font-family: v.$raleway;
        font-weight: 100;
        color: v.$principal;
    }

    .counter {
        font-size: 500px;
        font-family: v.$raleway;
        font-weight: 100;
        color: v.$principal;
    }

    .tw__content {
        font-size: 50px;
        font-family: v.$raleway;
        font-weight: 100;
        color: v.$principal;
    }

    .tw__cursor {
        font-size: 50px;
        font-family: v.$raleway;
        font-weight: 100;
        color: v.$principal;
    }
}